/* Paleta de Cores */
:root {
  --branco: #ffffff;
  --azul-claro: lightblue;
  --azul-petroleo: #004d66;
  /* --dourado: #d4af37; */
}

/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Corpo */
body {
  background-color: var(--azul-claro);
  color: var(--azul-petroleo);
  margin: 22px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  text-align: center;
}
/* Cabeçalho */
header {
  text-align: center;
  background-color: var(--azul-petroleo);
  color: var(--branco);
  border-radius: 10px;
  padding: 20px;
}

/* nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: var(--branco);
  text-decoration: none;
  font-weight: bold;
} */

/* Seções */
section {
  padding: 50px 20px;
}

.descricao-evento {
  max-width: 60%;
  margin: auto;
}

h1 {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  background-color: var(--branco);
  color: var(--azul-petroleo);
  width: 55%;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
}

/* Palestrantes */
#palestrantes {
  display: grid;
  grid-template-columns: auto auto;
}

#palestrantes > div {
  background-color: var(--branco);
  padding: 15px;
  margin: 10px auto;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

img {
  clip-path: circle(50%);
}

/* Formulário */
form {
  background-color: var(--branco);
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

input {
  /* width: 100%; */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--azul-petroleo);
  border-radius: 5px;
}

.inputAlongar {
  width: 100%;
}

#submit {
  background-color: var(--azul-claro);
  color: var(--azul-petroleo);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#submit:hover {
  background-color: var(--azul-petroleo);
  color: var(--branco);
}

/* Rodapé */
footer {
  background-color: var(--azul-petroleo);
  color: var(--branco);
  padding: 10px;
  margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  /* nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  } */

  .palestrante,
  form {
    max-width: 90%;
  }
}
